@import url(https://fonts.googleapis.com/css?family=Righteous);


body {
  margin: 0;
  font-family: "Righteous";
  color: #004526;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./flowers-6597862.svg");
  background-size: contain;
  background-repeat:repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
    
  
    
}
